<header class="navigation" role=”banner” data-navigation>
    <nav role=”navigation”>
        <h1>Navigation component</h1>
        <button class="button-primary" type="button"
                aria-expanded="false" aria-controls="navigation-list"
                data-expandable>
            Toggle menu
        </button>
        <ul id="navigation-list">
            <li><a href="">Navigation item 1</a></li>
            <li><a href="">Navigation item 2</a></li>
            <li><a href="">Navigation item 3</a></li>
        </ul>
    </nav>
</header>