.button-primary,
.button-secondary,
[role=button] {
	height: var(--form-element-height);
	margin: 0; /* Remove the margin in Firefox and Safari. */
	padding: 0 1em;
	border: 1px solid transparent;
	border-radius: var(--border-radius-default);
	font-family: var(--body-font);
	font-size: 1rem;
    font-weight: bold;
	text-transform: none; /* Remove the inheritance of text transform in Firefox. */
	text-align: center;
	-webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
	user-select: none;
	color: white;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	overflow: visible; /* Show the overflow in Edge. */

	&::-moz-focus-inner {
		/* Remove the inner border and padding in Firefox. */
		border-style: none;
		padding: 0;
	}

	&:active {
		background-image: none;
	}

	&:disabled,
	&[disabled] {
		opacity: 0.65;
		cursor: not-allowed;
	}
}

.button-primary {
	background-color: var(--green);
}

.button-secondary {
	background-color: var(--blue);
}

.button-link {
	display: inline;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	border: none;
	background: none;
	color: var(--blue-darkest);
	text-decoration: underline;
	cursor: pointer;

	&:hover {
        color: var(--blue-darkest);
	}
}


a {
    color: var(--blue-darkest);

    &:visited {
     color: var(--blue-darker);
    }

    &:hover {
      color: var(--blue-darker);
    }
}